.card {

    border-radius: 2px;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;

    &.intro-card {
        .card-body {
            @media (max-width: $screen-small-max) {
                padding: 20px;
            }
        }
    }

    &.map-card {
        overflow: hidden;
    }

    .card-title {

        background-color: #8CC152;
        border-radius: 2px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        color: #FFF;
        display: inline-block;
        font-family: Arvo, serif;
        font-weight: normal;
        margin: 0;
        padding: 10px 15px;
        position: absolute;
        top: -10px;
        left: -10px;

        @media (min-width: $screen-large-min) {
            font-size: 26px;
        }

    }

    .card-body {

        padding: 50px;

        h3 {
            @media (min-width: $screen-large-min) {
                font-size: 18px;
            }
        }

        > :first-child {
            margin-top: 0;
            padding-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        @media (max-width: $screen-small-max) {
            padding: 40px 20px 20px;
        }

    }

}
