.primary-navigation {

    background-color: rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    transition: background .25s linear;
    width: 100%;
    z-index: 9999;

    * {
        transition: all .25s ease-in-out;
    }

    .site-title {

        display: inline-block;

        &:hover {
            text-decoration: none;
        }

        .title-img {

            display: block;
            position: absolute;
            top: -10px;
            width: 90px;

            img {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            }

            @media (max-width: $screen-medium-max) {
                top: -4px;
                width: 60px;
            }

            @media (max-width: $screen-small-max) {
                display: none;
            }

        }

        .title-text {

            display: inline-block;
            margin: 0;
            margin-left: 110px;

            h1 {
                color: #FFF;
                font-family: Arvo;
                font-size: 3.5rem;
                font-weight: normal;
                margin: 15px 0;
                padding: 0;
                text-shadow: 0 0 5px rgba(0, 0, 0, .25);
            }

             @media (max-width: $screen-medium-max) {

                margin-left: 75px;

                 h1 {
                    font-size: 2.5rem;
                    margin: 10px 0 0;
                }

            }

            @media (max-width: $screen-small-max) {
                margin-left: 0;
            }

        }

    }

    .nav-links {

        float: right;
        list-style: none outside none;
        margin: 0;
        margin-left: -5px;
        padding: 0;

        &.expanded {
            @media (max-width: $screen-small-max) {
                display: block;
            }
        }

        > li {

            float: left;
            margin: 0;
            padding: 0;

            > a {

                color: #FFF;
                display: block;
                padding: 25px 20px;
                text-transform: uppercase;
                text-shadow: 0 0 3px rgba(0, 0, 0, .25);

                &:hover {
                    background-color: rgba(0, 0, 0, .25);
                    text-decoration: none;
                }

                @media (max-width: $screen-medium-max) {
                    padding: 15px 20px;
                }

            }

            @media (max-width: $screen-small-max) {
                display: block;
                float: none;
            }

        }

        @media (max-width: $screen-small-max) {
            border-top: 1px solid rgba(0, 0, 0, .15);
            clear: both;
            display: none;
            float: none;
            margin: 0 -15px;
            transition: all .25s ease-in-out;
        }

    }

    .navbar-toggle {

        background-color: rgba(0, 0, 0, .1);
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        color: #FFF;
        display: none;
        float: right;
        margin: 8px;
        padding: 9px 10px;
        position: relative;

        &:hover {
            background-color: rgba(0, 0, 0, .3);
        }

        .icon-bar {
            background-color: rgba(255, 255, 255, .75);
            border-radius: 1px;
            display: block;
            height: 2px;
            width: 22px;
        }

        @media (max-width: $screen-small-max) {
            display: block;
        }

    }

    &.primary-navigation-collapse {

        background-color: rgba(0, 0, 0, .65);

        .site-title {

            .title-img {
                top: -4px;
                width: 60px;
            }

            .title-text {

                margin-left: 75px;

                h1 {
                    font-size: 2.5rem;
                    margin: 10px 0;
                }

                @media (max-width: $screen-small-max) {
                    margin-left: 0;
                }

            }

        }

        .nav-links > li > a {
            padding: 15px 20px;
        }

    }

}
