/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

body {
    background-color: #E5E5E5;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#site-header {
    background-image: url('/img/header_images/1.jpg');
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

#site-title {
    display: block;
    line-height: 3rem;
    margin: 0;
}

#site-title:hover {
    text-decoration: none;
}

#site-title .title-img {
    display: inline-block;
    float: left;
    margin-right: -100%;
    width: 120px;
}

#site-title .title-text {
    display: inline-block;
    float: left;
    margin: 17px 0;
    margin-left: 150px;
    text-align: center;
}

.title-img img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.title-text h1 {
    color: #FFF;
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    opacity: 0.8;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.title-text small {
    color: #FFF;
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    opacity: 0.8;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contact-info {
    padding: 20px 0;
}


/* -------------------------------------------------------------------------- */
/* -----| SOCIAL ICONS |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#social-icons {
    display: inline-block;
    margin: 12px 0;
}

#social-icons a {
    background-color: #FFF;
    border-radius: 3px;
    color: #999;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 4px;
    text-align: center;
}

#social-icons a:hover,
#social-icons a:active {
    background-color: #333;
    color: #FFF;
    text-decoration: none;
}

#social-icons i {
    display: block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    width: 18px;
}

#social-icons .google-plus:hover,
#social-icons .google-plus:active {
    background-color: #DD4B39;
}

#social-icons .twitter:hover,
#social-icons .twitter:active {
    background-color: #00ACEE;
}

#social-icons .github:hover,
#social-icons .github:active {
    background-color: #CCC;
}

#social-icons .rss:hover,
#social-icons .rss:active {
    background-color: #F90;
}

#social-icons .email:hover,
#social-icons .email:active {
    background-color: #333;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT AREA |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#content-area {
    padding: 0 20px;
}

#content-area .container > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.card {
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    position: relative;
}

.card-title {
    background-color: #8CC152;
    border-radius: 2px;
    color: #FFF;
    display: inline-block;
    font-family: Arvo, serif;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.card-body {
    padding: 50px;
}

.card-body > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.card-body > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

#intro {
    text-align: justify;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#site-footer {
    background-color: #222;
    color: #FFF;
    margin: 50px 0 0;
    padding: 50px;
    text-align: center;
}

#site-footer a {
    color: #FFF;
}

#site-footer a:hover {
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* -----| RESPONSIVE |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@media (max-width: 767px) {

    #site-title .title-text {
        display: block;
    }

}
