/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html {
    min-width: 480px;
}

body {
    background-color: #E5E5E5;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.site-header {
    background-image: url('/img/tracks.jpg');
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}

.site-title {
    display: block;
    line-height: 3rem;
    margin: 0;
}

.site-title:hover {
    text-decoration: none;
}

.title-img {
    display: block;
    float: left;
    margin-right: -100%;
    width: 120px;
}

.title-text {
    display: block;
    float: left;
    margin: 17px 0 0;
    margin-left: 150px;
    opacity: 0.9;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}

.title-img img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.title-text h1 {
    color: #FFF;
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
}

.title-text small {
    color: #FFF;
    display: block;
    font-size: 2rem;
    line-height: 2rem;
}

.contact-info {
    padding: 20px 0;
}

.site-nav {
    border: none;
    margin: 0;
}


/* -------------------------------------------------------------------------- */
/* -----| FOLLOW ICONS |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.follow-google-plus:hover,
.follow-google-plus:active {
    background-color: #DD4B39 !important;
}

.follow-twitter:hover,
.follow-twitter:active {
    background-color: #00ACEE !important;
}

.follow-github:hover,
.follow-github:active {
    background-color: #404040 !important;
}

.follow-rss:hover,
.follow-rss:active {
    background-color: #F90 !important;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT AREA |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.content-area {
    padding: 0 20px;
}

.card {
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
    position: relative;
}

.card-title {
    background-color: #8CC152;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #FFF;
    display: inline-block;
    font-family: Arvo, serif;
    font-weight: normal;
    margin: 0;
    padding: 10px 15px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.card-body {
    padding: 50px;
}

.card-body > :first-child {
    margin-top: 0;
    padding-top: 0;
}

.card-body > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.site-footer {
    background-color: #222;
    color: #FFF;
    padding: 50px;
    text-align: center;
}

.site-footer a {
    color: #FFF;
}

.site-footer a:hover {
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* -----| MISCELLANEOUS |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #404040;
}

.text-justify {
    text-align: justify;
}


/* -------------------------------------------------------------------------- */
/* -----| RESPONSIVE |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@media (max-width: 640px) {

    .title-img {
        display: none;
    }

    .title-img img {
        display: inline-block;
    }

    .title-text {
        display: block;
        float: none;
        margin: 0;
    }

}

@media (max-width: 767px) {

    .site-header {
        padding: 20px 0;
    }

    .title-img img {
        display: inline-block;
    }

    .title-text h1 {
        font-size: 5rem;
    }

    .title-text small {
        font-size: 1.75rem;
    }

    .navbar {
        padding: 0 20px;
    }

    .navbar-nav {
        float: left;
        margin: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .navbar-right {
        float: right !important;
    }

    .navbar-text {
        display: none;
        margin-left: 15px;
        margin-right: 15px;
    }

}