.error-hero {
    margin-bottom: 40px;
}

.error-hero .error-number {
    color: #F3F3F3;
    font-size: 36rem;
    text-shadow: 0 .6rem 0 #CCC;
    line-height: 1;
}

.error-hero .error-text {
    font-size: 4rem;
}
