.site-footer {

    background-color: #222;
    color: #FFF;
    padding: 50px 0;
    text-align: center;

    a {

        color: #FFF;

        &:hover {
            text-decoration: underline;
        }

    }

}
