.header-image {

    background-image: url('/img/road.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    transition: all .25s ease-in-out;

    @include screen-large {
        height: 350px;
    }

    @include screen-medium {
        height: 250px;
    }

    @include screen-small {
        height: 200px;
    }

}

.sub-text {
    border: none;
    margin: 0;
}

.nav-collapse {
    @include screen-small {
        margin-top: 10px;
    }
}

.social-nav {

    .navbar-text {

        @include screen-medium {
            display: none;
            text-align: center;
        }

    }

    > ul {

        > li {

            > a {

                @include screen-medium {
                    padding-bottom: 15px;
                    padding-top: 15px;
                }

            }

            @include screen-medium {
                display: inline-block;
                float: none !important;
            }

        }

        @include screen-medium {
            text-align: center;
        }

    }

    @include screen-medium {
        margin-left: 0;
        width: 100% ;
    }

}

.follow-google-plus {
    &:hover, &:active {
        background-color: #DD4B39 !important;
        color: #FFF;
    }
}

.follow-twitter {
    &:hover, &:active {
        background-color: #00ACEE !important;
        color: #FFF;
    }
}

.follow-linkedin {
    &:hover, &:active {
        background-color: #2672AE !important;
        color: #FFF;
    }
}

.follow-github {
    &:hover, &:active {
        background-color: #555 !important;
        color: #FFF;
    }
}

.follow-keybase {
    &:hover, &:active {
        background-color: #FF8648 !important;
        color: #FFF;
    }
}

.follow-rss {
    &:hover, &:active {
        background-color: #F90 !important;
        color: #FFF;
    }
}

.navbar-right {
    margin-right: 0;
}
