@media (min-width: 1200px) {

    .header-bg {
        height: 350px;
    }

}

@media (max-width: 768px) {

    .header-bg {
        height: 250px;
    }

    // .title-img {
    //     top: -4px;
    //     width: 60px;
    // }

    .title-text {

        margin-left: 75px;

         h1 {
            font-size: 2.5rem;
            margin: 10px 0 0;
        }

    }

    .site-nav > li > a {
        padding: 15px 20px;
    }

    .quip {
        text-align: center;
    }

    .social-nav {

        margin-left: 0;
        width: 100% ;

        .navbar-text {
            display: none;
            text-align: center;
        }

        > ul {

            text-align: center;

            > li {

                display: inline-block;
                float: none !important;

                > a {
                    padding-bottom: 15px;
                    padding-top: 15px;
                }

            }

        }

    }

}

@media (max-width: 480px) {

    .header-bg {
        height: 200px;
    }

    .title-img {
        display: none;
    }

    .title-text {
        margin-left: 0;
    }

    .site-navigation-collapse {
        .title-text {
            margin-left: 0;
        }
    }

    .nav-collapse {
        margin-top: 10px;
    }

    .navbar-toggle {
        display: block;
    }

    .site-nav {

        border-top: 1px solid rgba(0, 0, 0, .15);
        clear: both;
        display: none;
        float: none;
        margin: 0 -15px;
        transition: all .25s ease-in-out;

        > li {
            display: block;
            float: none;
        }

        &.expanded {
            display: block;
        }

    }

    .card-body {

        padding: 40px 20px 20px;

        h3 {
            font-size: 18px;
        }

    }

    .intro-card {
        padding: 20px;
    }

    .card-title {
        font-size: 26px;
    }

}
